.env
.env.local
.env.prod
tmp/
test-results/
coverage/
coverage.out
coverage.html
SSL/
Terraform/*/.terraform.lock.hcl
Terraform/*/.terraform/
Terraform/*/*.tfvars
Terraform/*/*.tfstate
Terraform/*/*.tfstate.backup
Terraform/*/outputs.txt
.DS_Store
